			*{
				margin :  0;
				padding :  0;
				font-family: courier new,courier,monospace;
			}

			html,
			body{
				width :  100%;
				height :  100%;
			}
			
			.nav{
				width :  100%;
				height : 35px;
				background-color: #F5F5F5;
				text-align :  center;
				line-height : 35px;
			}
			
			.orange{
				color : #FF5801;
			}
			.background-orange{
				background-color : #FF5801;
			}
			a{
				color : #8C8C8C;
				text-decoration: none;
			}

			a:hover{
				text-decoration: none;
				color : #F35631;
			}

			ul{
				list-style-type: none;
			}
			.background-blue{
				background-color : #459AC4;
			}
			.color-blue{
				color : #7EABF4;
			}
			/* 左侧设置 */
			.nav-left{
				height :  100%;
				width : 300px;
				float : left;
				margin-left : 37px;
				display: block;
			}
			
			.nav-left > ul > li{
				float :  left;
				list-style-type : none;
			}
			
			.left1{
				width :  79px;
			}
			.arrow{
				width : 6px;
				height: 6px;
				padding-left : 5px;
				padding-bottom : 2px;
			}
			.left2{
				width :  79px;
			}
			.left2 > a{
				color : #F35631;
			}
			.left3{
				width :  55px;
			}
			.left4{
				margin-left : 10px;
				width :  60px;
				white-space: nowrap;
			}
			/* 右侧设置 */
			.nav-right{
				height :  100%;
				width :  600px;
				margin-right : 37px;
				float :  right;
			}

			.nav-right > ul > li{
				float :  left;
				list-style-type :  none;
			}
				
			.right1{
				width : 79px;
			}

			.right2{
				width :  79px;
			}
			.gouwuche{
				width : 12px;
				padding-right : 5px;
				vertical-align: middle;
			}
			.right3{
				width :  84px;
				background-image : url("images/收藏.png");
				background-size : 13% 35%;
				background-repeat : no-repeat;
				background-position: 6px 11px;
			}
			.right3:hover{
				background-image : url("images/收藏2.png");
				cursor: pointer;
			}
			.right3:hover > a{
				color : #F35631;
			}
			.shoucang{
				width :  12px;
				height : 100%;
				padding-right : 5px;
				background-image: url("images/收藏.png");
			}
			.right4{
				width : 67px;
			}
			.rightq{
				width :  5px;
				padding-left: 5px;
				padding-right: 5px;
			}
			.right5{
				width : 77px;
				height : 34px;
				padding : 1px;
			}
			.right5:hover{
				border : 1px solid #EEEEEE;
				padding : 0px;
				border-bottom: 0px;
				background-color: white;
			}
			.right5:hover > .hidden{
				display : block;
			}
			.navnav{
				height : 8px;
				width : 7px;
				margin-right : 4px;

			}
			.right6{
				width : 79px;
			}
			.right7{
				width : 96px;
			}
			/* 隐藏的框框 84x124 */
			.hidden{
				position :  absolute;
				right : 227px;
				top : 35px;
				width : 84px;
				height : 250px;
				text-align : left;
				border : 1px solid #EEEEEE;
				border-top: 0px;
				display: none;
				z-index : 1000;
			}
			.hidden > ul{
				z-index : 1000;
				background-color: #fff;
			}
			.hidden > ul >li{
				list-style-type : none;
				color : #8F8F8F;
				width : 100%;
				text-indent: 6px;
				cursor : pointer;
				z-index : 1000;
			}
			.hidden > ul >li:hover{
				background-color : #F5F5F5;
			}
			.hidden > ul >li > a:hover{
				color : #8C8C8C;
			}



.cup{
	position : relative;
	width: 100%;
	height: 99px;
	padding-top : 30px;
	background-color: white;
}
/* 搜索框那一排什么的 */

.subtitles{
	width : 100%;
	height : 35px;
	margin-bottom: 10px;
	background-color: white;
}
.logo{
	float : left;
	width : 190px;
	height: 88px;
	margin-left: 37px;
}
.search-wrap{
	float : left;
	width : 630px;
	height : 90px;
	margin-left : 75px;
}

.QR-code{
	width : 115px;
	height : 115px;
	position : absolute;
	right : 35px;
}


/* ##################################重新搭建一级区块######################################### */
body{
	background-color: #F1F1F1;
}
.page-block2{
	width : 100%;
	height : 630px;
	background-color : #F1F1F1;
}

.page-block3{
	width : 100%;
	height : 2700px;
	background-color : #F1F1F1;
}

.page-block4{
	width : 100%;
	height : 630px;
	background-color : #F1F1F1;
}

.page-block5{
	width : 100%;
	height : 520px;
	background-color : red;
}

.page-block6{
	width : 100%;
	height : 705px;
	background-color : #F1F1F1;
	margin-top : 20px;
}

.page-block7{
	width : 100%;
	height : 750px;
	background-color : #F1F1F1;
	margin-top : 20px;
}

.page-block8{
	width : 100%;
	height : 200px;
	background-color : #F1F1F1;
}

.page-block9{
	width : 100%;
	height : 240px;
	background-color : white;
}


/* ##########################一级区块配置完毕########################## */

.logo{
	background-image : url("images/page-top/cup.png");
	background-size : 142px 58px;
	background-repeat: no-repeat;
	background-position: 20px 10px;
}

/* 26*150 */
/* 34 * 611  */ 
/* 24*617 */
						/* 494 33 */

.search-wrap-top{
	height : 26px;
	width : 150px;
}

.search-wrap-middle{
	height : 34px;
	width : 611px;
	border : 3px solid #FF6905;
}

.search-wrap-bottom{
	height : 24px;
	width : 617px;
}

.search-wrap-top > a{
	float : left;
	width : 50px;
	height : 16px;
	text-align : center;
	padding-top : 10px;
}

.search-wrap-middle > input{
	width : 494px;
	height : 100%;
	border : 0px;
	outline : 0px;
	text-indent: 2em;
} 

.search-wrap-middle >button{
	height : 100%;
	width : 117px;
	border : 0px;
	background-color : #FF5802;
}

.search-wrap-bottom > a{
	margin :  8px 3px;
}

.QR-code{
	background-image : url("images/page-top/qr.png");
	background-size : 100%;
	background-repeat: no-repeat;
}

.subtitle-options{
	width : 800px;
	height : 100%;
	margin-left : 240px;
}

.subtitle-options > a{
	margin-top : 10px;
	margin-right : 10px;
	margin-left: 10px;
}

.subtitle-options > a:hover{
	margin-top : 5px;
	margin-left : 5px;
	margin-right : 5px;
	border : 5px solid #FF5F03;
	border-radius : 10px;
	background-color: #FF5F03;
	color : white;
}

.subtitle-options > span {
	margin-top : 8px;
	color : #DDDDDD;
}

/* 1180 510 */
.page-block2-inner{
	width : 1180px;
	height : 620px;
	margin : 10px 40px;
}

/* ################################################淘宝上边的扉页什么的############################ */
.page-block2-left{
	width : 880px;
	height : 100%;
	margin-right : 10px;
}

.page-block2-right{
	width : 290px;
	height : 100%;
}

.page-block2-left-zhuti{
	width : 190px;
	height : 550px;
	margin-top : -44px;
	background-color: #FF6A05;
}

.page-block2-left-wrapper{
	width : 680px;
	height : 505px;
	margin-left : 10px;
}

.page-block2-left-bottom{
	width : 880px;
	height : 75px;
	margin-top : 10px;
	background-image : url("images/page-top/hehe.png");
}

.page-block2-left-wrapper-block1{
	width : 510px;
	height : 278px;
	margin : 5px;
}

.page-block2-left-wrapper-block2{
	width : 158px;
	height : 280px;
	margin : 5px 0px;
}

.page-block2-left-wrapper-block3{
	width : 515px;
	height : 215px;
	margin : 0px;
}

.page-block2-left-wrapper-block4{
	width : 158px;
	height : 215px;
	margin-left :5px;
}

/* 右边 */
/* 290 305 */
.page-block2-right-block1{
	width : 290px;
	height : 305px;
	margin-top : 5px;
}

.page-block2-right-block2{
	width : 290px;
	height : 197px;
}

.page-block2-right-block3{
	width : 289px;
	height : 113px;
	margin-top : 1px;
}

/* #######################################三级分块配置完毕 */

.page-block2-left-zhuti-text1{
	width : 60px;
	height : 30px;
	margin : 10px 0px 0px 10px;
}

.page-block2-left-zhuti-image1{
	width : 17px;
	height : 17px;
	margin-top : 10px;
	margin-right: 10px;
	background-size : 50%;
	background : no-repeat;
	background-image : url("images/page-top/2017-07-31_190454.jpg");
}

.page-block2-left-zhuti > ul {
	width : 100%;
	height : 433px;
	float : left;
}

/* 17 + 5 + 5 */
.page-block2-left-zhuti > ul > li{
	width : 100%;
	height : 17px;
	margin : 5px 0px 5px 0px;
}

.page-block2-left-zhuti > ul > li > i{
	float : left;
	width : 16px;
	height : 16px;
	margin-left: 10px;
	margin-right: 6px;
	background-image: url("images/page-top/zuo_jingling.jpg");
}

.page-block2-left-zhuti > ul > li > p{
	float : left;
}

.page-block2-left-zhuti > ul > li >em{
	width : 8px;
	height : 10px;
	float : right;
	background-image: url("images/page-top/youjiantou.png");
	background-size: 100%;
	margin-right : 10px;
}

.page-block2-left-zhuti-list1 > i{
	background-position: -4px -3px;
}

.page-block2-left-zhuti-list2 > i{
	background-position: -4px -32px;
}

.page-block2-left-zhuti-list3 > i{
	background-position: -4px -62px;
}

.page-block2-left-zhuti-list4 > i{
	background-position: -4px -92px;
}

.page-block2-left-zhuti-list5 > i{
	background-position: -4px -122px;
}

.page-block2-left-zhuti-list6 > i{
	background-position: -4px -152px;
}

.page-block2-left-zhuti-list7 > i{
	background-position: -4px -182px;
}

.page-block2-left-zhuti-list8 > i{
	background-position: -4px -212px;
}

.page-block2-left-zhuti-list9 > i{
	background-position: -4px -242px;
}

.page-block2-left-zhuti-list10 > i{
	background-position: -4px -270px;
}

.page-block2-left-zhuti-list11> i{
	background-position: -4px -300px;
}

.page-block2-left-zhuti-list12> i{
	background-position: -4px -330px;
}

.page-block2-left-zhuti-list13 > i{
	background-position: -4px -360px;
}

.page-block2-left-zhuti-list14 > i{
	background-position: -4px -390px;
}

.page-block2-left-zhuti-list15 > i{
	background-position: -4px -420px;
}

.page-block2-left-zhuti-list16 > i{
	background-position: -4px -450px;
}

.page-block2-left-zhuti-bottom{
	width : 100%;
	height : 67px;
	background-image: url("images/page-top/TB12qt1SXXXXXXqXFXXXXXXXXXX-380-80.jpg_320x320q90.jpg");
}

/* 中间部分配图 */
.page-block2-left-wrapper-block1{
	background-image: url("images/page-top/image1.png");
}

.page-block2-left-wrapper-block2{
	background-image: url("images/page-top/image3.png");
}

.page-block2-left-wrapper-block3{
	background-image : url("images/page-top/image2.png");
}

.page-block2-left-wrapper-block4{
	background-image : url("images/page-top/image4.png");
}

/* 右侧配置 */
.page-block2-right-block1-branch1{
	width : 290px;
	height : 165px;
	background-image : url("images/page-top/background1.jpg");
	background-size: 100%;
}

.page-block2-right-block1-branch1-image1{
	width : 60px;
	height : 60px;
	background-image : url("images/page-top/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_60x60.jpg");
	border-radius: 50%;
	margin : 15px 120px 0px 120px;
}

.page-block2-right-block1-branch1-text1{
	width : 100%;
	margin-left : 125px;
	margin-top : 10px;
}

.page-block2-right-block1-branch1 > em{
	width : 16px;
	height : 16px;
	background-image: url("images/page-top/hahaha.png");
	margin-left : 30px;
}

.page-block2-right-block1-button1{
	margin-left : 10px;
	width : 90px;
	height : 24px;
	margin-top : 5px;
}

.page-block2-right-block1-button2{
	margin : 0px 5px;
	width : 75px;
	height : 24px;
	margin-top : 5px;
}

.page-block2-right-block1-button3{
	margin-top : 5px;
	margin-right : 15px;
	width : 75px;
	height : 24px;
}

/* 右边中间那一部分 */
.page-block2-right-block1-branch2{
	height : 31px;
	width : 100%;
	background-color : #FFE4DD;
}

.page-block2-right-block1-branch2 > p{
	margin-left : 80px;
	margin-top : 8px;
}

.page-block2-right-block1-branch2 > i{
	width : 12px;
	height : 12px;
	margin-top : 8px;
	margin-left : 25px;
	background-image: url("images/page-top/xiaojiantou.png");
}

.page-block2-right-block1-branch3{
	height : 107px;
	width: 100%;
	margin-bottom : 2px;
	background-color: white;
}

.page-block2-right-block1-branch3 > a{

	margin :15px 5px 5px 5px;
	width : 40px;
	height : 18px;
	text-align: center;
	padding-top : 6px;
}

#temp1{
	margin-left : 20px;
	border-bottom: 2px solid #FF2E00;
}

.page-block2-right-block1-branch3 > p{
	margin : 5px 10px;
}

/* 右边表格 */
/* 宽72 高65 第一个宽71*/
.page-block2-right-block2 > a{
	width : 72px;
	height : 25px;
	text-align: center;
	border-right : 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	padding-top : 40px;
	background-repeat: no-repeat;
	background-position: 22px 10px;
	background-color : white;
}

.page-block2-right-block2 > .clear-both{
	width : 71px;
}

.page-block2-right-block2 > .temp1{
	border-right : 0px;
}

.page-block2-right-block2 > .temp2{
	border-bottom: 0px;
}

/* 背景图排版 */
.page-block2-right-block2-image1{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}
.page-block2-right-block2-image2{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_05.gif");
}
.page-block2-right-block2-image3{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
}
.page-block2-right-block2-image4{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");
}
.page-block2-right-block2-image5{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");
}
.page-block2-right-block2-image6{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_16.gif")
}
.page-block2-right-block2-image7{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_17.gif");
}
.page-block2-right-block2-image8{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_18.gif");
}
.page-block2-right-block2-image9{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_23.gif");
}
.page-block2-right-block2-image10{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_24.gif");
}
.page-block2-right-block2-image11{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_25.gif");
}
.page-block2-right-block2-image12{
	background-image: url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_26.gif");
}

/* 阿里APP巴拉巴拉 */
.page-block2-right-block3{
	background-color: white;
}
.page-block2-right-block3 > p{
	margin-top : 5px;
	margin-left : 10px;
}

.page-block2-right-block3 > span{
	margin-right : 15px;
	margin-top : 5px;
}

.page-block2-right-block3 > a{
	width : 33px;
	height : 33px;
	margin : 5px 10px;
	background-image : url("images/page-top/未标题-1.png");
}

.page-block2-right-block3-a1{
	background-position: -10px -8px;
}

.page-block2-right-block3-a2{
	background-position: -64px -8px;
}

.page-block2-right-block3-a3{
	background-position: -118px -8px;
}

.page-block2-right-block3-a4{
	background-position: -172px -8px;
}

.page-block2-right-block3-a5{
	background-position: -226px -8px;
}

.page-block2-right-block3-a6{
	background-position: -10px -50px;
}

.page-block2-right-block3-a7{
	background-position: -64px -50px;
}

.page-block2-right-block3-a8{
	background-position: -118px -50px;
}

.page-block2-right-block3-a9{
	background-position: -172px -50px;
}

.page-block2-right-block3-a10{
	background-position: -226px -50px;
}

/* 底部的一些东西 */
.page-block2-left-bottom-1{
	width : 385px;
	height : 39px;
	background-image : url("images/page-top/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_27.gif.png");
	top : 85px;
	left : 320px;
	background-size : 70%;
	background-repeat: no-repeat;
}

.page-block2-left-bottom-2{
	top : 85px;
	right : 0px;
	padding: 0 12px;
	background-color: white;
	border : 2px solid white;
	border-radius: 35%;
}

/* ##########################################开始进行页面中间的配置################################# */
/* 880 290 */

.page-block3-left{
	width : 880px;
	height : 100%;
	margin : 0px 10px 0px 40px;
	background-color : #F1F1F1;
}

.page-block3-right{
	width : 290px;
	height : 100%;
	margin : 0px 40px 0px 0px;
	background-color: #F1F1F1;
}

.page-block3-left-section1{
	width : 435px;
	height : 360px;
}

.page-block3-left-section2{
	width : 870px;
	height : 70px;
	margin-left : 5px;
}

.page-block3-left-section3{
	width : 880px;
	height : 30px;
}

/* 219 260 */
.page-block3-left-section4{
	width : 219px;
	height : 260px;
	margin-right: 1px;
	background-color: #F1F1F1;
}

.page-block3-left-section4 > div{
 	background-color:#FFF;
}
/* 276 200 200 200 */
.page-block3-left-section5{
	width : 200px;
	height : 135px;
	margin-right: 1px;
	margin-bottom: 1px;
}

.page-block3-left-section6{
	width : 276px;
}

.page-block3-left-section7{
	width : 880px;
	height : 70px;
}

/* #################################页面中间靠右的地方########################### */
.page-block3-right-section1{
	width : 100%;
	height : 110px;
}

.page-block3-right-section2{
	width : 100%;
	height : 1210px;
}

.page-block3-right-section3{
	width : 100%;
	height : 1055px;
	margin-bottom : 20px;
	background-color : #F1F1F1;
}

.page-block3-right-section4{
	width : 100%;
	height : 270px;
}

/* ##########################################页面中间靠左的地方######################### */
.page-block3-left-section1-wrap1{
	width : 100px;
	height : 100%;
	background-color: #406CC0;
}

.page-block3-left-section1-wrap2{
	width : 333px;
	height : 353px;
	border-top : 3px solid #406CC0;
	border-bottom : 3px solid #406CC0;
	border-right : 2px solid #406CC0;
	background-color: #F1F1F1;
}

.page-block3-left-section1-wrap2-1{
	width : 98px;
	height : 195px;
}

.page-block3-left-section1-wrap2-2{
	width : 98px;
	height : 195px;
}

.page-block3-left-section1-wrap2-3{
	width : 133px;
	height : 96px;
}

.page-block3-left-section1-wrap2-4{
	width : 133px;
	height : 98px;
}

/* 197 155 */
.page-block3-left-section1-wrap2-5{
	width : 197px;
	height : 159px;
}

.page-block3-left-section1-wrap2-6{
	width : 133px;
	height : 78px;
}

.page-block3-left-section1-wrap2-7{
	width : 133px;
	height : 80px;
}

.page-block3-left-section1-wrap1-1{
	width : 100%;
	height : 97px;
	background-color: #0188CC;
}

.page-block3-left-section1-wrap1-1 > i{
	width : 86px;
	height : 31px;
	margin : 10px 10px;
	background-image: url("images/page-center/title1.png");
}

.page-block3-left-section1-wrap1-1 > p{
	margin-left : 25px;
}

.page-block3-left-section1-wrap1-2 > p
{
	margin-top : 10px;
	margin-left : 10px;
}

.page-block3-left-section1-wrap1-2 > ul{
	margin-left : 10px;
}

.page-block3-left-section1-wrap1-2 > ul > li > a{
	padding : 2px 6px;
	background-color : #6689CD;
}

.page-block3-left-section1-wrap1-2 > ul > li{
	margin-bottom : 8px;
}

/* 手机精选 */
.page-block3-left-section1-wrap2-1 > a{
	border : 2px solid #5DA7D0;
	margin-top : 7px;
	color : #5AADCF;
	padding : 2px;
}

.page-block3-left-section1-wrap2-1 > p{
	margin-top : 5px;
}

.page-block3-left-section1-wrap2-1 > i{
	width : 71px;
	height : 95px;
	margin-top : 20px;
	background-image: url("images/page-center/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");
}

.page-block3-left-section1-wrap2-2 > a{
	border : 2px solid #5DA7D0;
	margin-top : 7px;
	color : #5AADCF;
	padding : 2px;
}

.page-block3-left-section1-wrap2-2 > p{
	margin-top : 6px;
}

.page-block3-left-section1-wrap2-2 > i{
	width : 91px;
	height : 104px;
	margin-top : 10px;
	margin-left : 3px;
	background-image: url("images/page-center/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_06.gif");
}

.page-block3-left-section1-wrap2-3 > i{
	width : 61px;
	height : 49px;
	margin-top : 10px;
	margin-left : 2px;
	background-image : url("images/page-center/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}

.page-block3-left-section1-wrap2-4 > i{
	width : 61px;
	height : 53px;
	margin-top : 10px;
	margin-left : 2px;
	background-image : url("images/page-center/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_12.gif");
}

.page-block3-left-section1-wrap2-5 > i{
	width : 180px;
	height : 115px;
	background-image: url("images/page-center/image1.png");
}

.page-block3-left-section1-wrap2-5-text2{
	background-color : #D8DADC;
	color : #989A9B;
	padding :  5px 28px ;
}


.page-block3-left-section1-wrap2-5-text1{
	padding : 5px 10px;
}

.page-block3-left-section1-wrap2-6 > i{
	width : 119px;
	height : 45px;
	background-image: url("images/page-center/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_17.gif");
}

.page-block3-left-section1-wrap2-6-text1{
	padding : 2px 21px;
	padding-left: 20px;
	background : #FDFDFD;
}

.page-block3-left-section1-wrap2-7 > i{
	width : 119px;
	height : 46px;
	margin-top :  7px;
	background-image : url("images/page-center/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_19.gif");
}	

#temp3,
#temp4{
	border : none;
	color: black;
}

/* 右侧设置 */
.wrap-new-1{
	background-color : #FFDF3B;
}

.wrap-new-2{
	background-color : #E9A326;
}

.wrap-new-1 > i{
	background-repeat: no-repeat;
	background-image : url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");	
}

.wrap-new-1 > p {
	color : black;
}

.wrap-new-3 > li > a{
	background-color : #EDB551 !important;
}

.wrap-new-4 > i {
	background-size : 100%;
	background-repeat: no-repeat;
	background-position: 0px 10px;
	background-image : url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");
}

.wrap-new-5 > i{
	background-image: url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_10.gif");
}

.wrap-new-6 > i{
	background-size : 100% !important;
	background-repeat: no-repeat;
	background-position: 0px -5px;
	background-image : url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_06.gif");
}

.wrap-new-7 > i{
	background-image: url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_16.gif");
}

.wrap-new-8 > i{
	background-image: url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_21.gif");
}

.wrap-new-9 > i{
	background-image: url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_23.gif");
}

.wrap-new-10 > i{
	background-image: url("images/page-center/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_25.gif");
}

.page-block3-left-section1-wrap2-1-special{
	width : 98px;
	height : 94px;
	margin-bottom : 1px;
}

#temp5 > a,
#temp6 > a{
	color : grey;
	margin : 0;
	margin-left : 20px;
}

#temp5 > i,
#temp6 > i{
	width : 74px;
	height : 58px;
	margin-top : 20px;
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}

#temp6{
	border-top : 1px solid #F2F2F2;
	margin :  95px 0px 0px 0px;
}

#temp6 > i{
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_12.gif");
}

#temp7 > i{
	background-size : 100%;
	background : no-repeat;
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_06.gif");
}

#temp8{
	height : 195px;
}

#temp9{
	color : #DB062D;
}

#temp10{
	color : #E45368;
}

#temp11{
	color : white;
	background-color: #DA001D;
	padding : 2px 5px;
}

#temp12{
	width : 127px;
	height : 65px;
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_10.gif");
}

.page-block3-left-section1-wrap2-6-text1{
	background-color: #FDFDFD;
}

#temp13{
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_20.gif");
	background-repeat: no-repeat;
	background-position : 65px 20px;
}

#temp14{
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_22.gif");
	background-repeat: no-repeat;
	background-position : 65px 20px;	
}

#temp15{
	background-image : url("images/page-center/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_17.gif");
	background-repeat: no-repeat;
}

#temp16{
	background-color : #FF0C43;
}

#temp16 > i{
	background-image : url("images/page-center/sec3/未标题-1.png");
	background-repeat: no-repeat;
	margin-left : 13px;
}

#temp17 > li > a{
	background-color : #E9696B !important;
}

#temp18{
	background-color: #E44346;
}

#temp19{
	background-color : #FE6FA6;
}

#temp20 > li > a{
	background-color: #FE8CB8;
}

#temp21{
	background-color: #FF5898;
}

#temp21 > i{
	background-repeat: no-repeat;
	background-position: 3px 0px;
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}

#temp22 > i{
	width : 74px;
	height : 58px;
	margin-top : 10px;
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_05.gif");
}

#temp22 > a{
	margin-left : 20px;
}

#temp23 > i{
	width : 74px;
	height : 58px;
	margin-top : 10px;
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");	
}

#temp23{
	border-top : 1px solid #F1F1F1;
	top : 100px;
}

#temp24 > i{
	background-size : 100%;
	background : no-repeat;
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");	
}

#temp25{
	height : 197px;
}
#temp25 > i{
	width : 127px;
	height : 65px;
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");
	background-repeat: no-repeat;	
}

#temp27{
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_19.gif");
	background-repeat: no-repeat;
}

#temp28{
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_22.gif");
	background-repeat: no-repeat;
	background-position : 65px 20px;
}

#temp29{
	background-image : url("images/page-center/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_25.gif");
	background-repeat: no-repeat;
	background-position : 65px 20px;	
}

#temp30{
	color : white;
	background-color : #FE4C90;
	padding : 2px 5px;
}

/* #################################MMP的，四张大图终于做完了############################## */
	/* ######时尚爆料王###### */
.page-block3-left-section2{
	background-image : url("images/page-center/sec3/hoho.png");
}

.page-block3-left-section3{
	background-image: url("images/page-center/baoliao/shishang.png");
	background-repeat: no-repeat;
	background-position : 335px;
}

.page-block3-left-section3-link1{
	background-color: white;
	margin-top : 5px;
	padding : 3px 8px;
	border-radius : 30%;
}
/* 下面的什么女神计划什么的 */
.page-block3-left-section4-div1{
	height : 38px;
	width : 100%;
	background-repeat: no-repeat;
	background-position: 53px 5px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}

.page-block3-left-section4-div2{
	height : 221px;
	width : 110px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_10.gif");
	background-position: 10px 8px;
	background-repeat: no-repeat;
}

.page-block3-left-section4-div2 > a{
	background-color : #FF0055;
	width : 90px;
	height : 40px;
	margin-top : 164px;
	margin-left : 10px;	
}

.page-block3-left-section4-div3{
	width : 108px;
	height : 108px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
}

.page-block3-left-section4-div3 > a{
	background-color : #F1F1F1;
	width : 90px;
	margin-top : 78px;
	margin-left : 8px;	
}

.page-block3-left-section4-div4{
	height : 111px;
	width : 108px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}

.page-block3-left-section4-div4 > a{
	background-color : #F1F1F1;
	width : 90px;
	margin-top : 77px;
	margin-left : 8px;	
}

.page-block3-left-section4-type2-div1{
	height : 38px;
	width : 100%;
	background-repeat: no-repeat;
	background-position: 53px 5px;
	background-image : url("images/page-center/baoliao/image1.gif");
}

.page-block3-left-section4-type2-div2{
	width : 108px;
	height : 108px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
}

.page-block3-left-section4-type2-div3{
	width : 110px;
	height : 108px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
}

.page-block3-left-section4-type2-div4{
	height : 111px;
	width : 108px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}

.page-block3-left-section4-type2-div5{
	height : 111px;
	width : 110px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-image : url("images/page-center/baoliao/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");
}

.page-block3-left-section4-type3-div1{
	width : 100%;
	height : 38px;
	background-repeat: no-repeat;
	background-position: 58px 8px;
	background-image : url("images/page-center/baoliao/image8.gif");	
}

.page-block3-left-section4-type3-div2{
	width : 100%;
	height : 158px;
	background-image : url("images/page-center/baoliao/image10.png");
	background-repeat: no-repeat;
	background-position: 12px 15px;
}

.page-block3-left-section4-type3-div2 .p111{
	margin-top : 120px;
	margin-left : 20px;
}

.page-block3-left-section4-type3-div2 .p555{
	margin-top : 120px;
	margin-left : 30px;
}

.page-block3-left-section4-type3-div2 .p444{
	margin-left : 32px;
}

.page-block3-left-section4-type3-div2  p{
	margin-left : 30px;
}

.page-block3-left-section4-type3-div2-left{
	width : 109px;
	margin-right: 1px;
	height : 100%;
	float :  left;
}

.page-block3-left-section4-type3-div2-right{
	width : 109px;
	height : 100%;
	float :  left;
}

.page-block3-left-section4-type3-div3{
	width : 100%;
	height : 62px;
}

.page-block3-left-section4-type3-div3 > a{
	width : 53px;
	height : 13px;
	margin : 5px 10px;
}

.page-block3-left-section4-type3-div3 .p222{
	margin-top : 10px;
}

.page-block3-left-section4-type3-div3 .p333{
	margin-bottom: 10px;
}


.page-block3-sec2-param1{
	background-image : url("images/page-center/baoliao/image2.gif");
	background-position: 10px 38px;
}

.page-block3-sec2-param2{
	background-image: url("images/page-center/baoliao/image3.gif");
	background-position: 30px 5px;
}

.page-block3-sec2-param3{
	background-image : url("images/page-center/baoliao/image4.gif");
	background-position: 10px 12px;
}

.page-block3-sec2-param4{
	background-image : url("images/page-center/baoliao/image5.gif");
	background-position: 11px 2px;
}

.page-block3-left-section4-type2-div5  a{
	width : 88px;
	background-color: #F1F1F1;
	margin : auto;
	margin-top : 78px;
}

.page-block3-left-section4-type2-div2  a{
	width : 88px;
	background-color: #F1F1F1;
	margin : auto;
	margin-top : 78px;
}

.page-block3-left-section4-type2-div3  a{
	width : 88px;
	background-color: #F1F1F1;
	margin : auto;
	margin-top : 78px;
}

.page-block3-left-section4-type2-div4  a{
	width : 88px;
	background-color: #F1F1F1;
	margin : auto;
	margin-top : 78px;
}

.page-block3-sec2-param5{
	background-image: url("images/page-center/baoliao/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif") ;
}

.page-block3-sec2-param6{
	background-image: url("images/page-center/baoliao/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_10.gif") ;

}

.page-block3-sec2-param6 > a{
	background-color : #940CE2;
}

.page-block3-sec2-param7{
	background-image: url("images/page-center/baoliao/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif") ;	
}


.page-block3-sec2-param8{
	background-image: url("images/page-center/baoliao/sec2/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif") ;		
}

.page-block3-sec2-param9{
	background-image: url("images/page-center/baoliao/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_06.gif")
}

.page-block3-sec2-param10{
	background-image: url("images/page-center/baoliao/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_11.gif")

}

.page-block3-sec2-param11{
	background-image: url("images/page-center/baoliao/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif")

}

.page-block3-sec2-param12{
	background-image: url("images/page-center/baoliao/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_17.gif")

}

.page-block3-sec2-param13{
	background-image: url("images/page-center/baoliao/sec3/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_18.gif")

}

.page-block3-sec2-param14{
	background-image: url("images/page-center/baoliao/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif")

}

.page-block3-sec2-param15{
	background-image: url("images/page-center/baoliao/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif")

}

.page-block3-sec2-param16{
	background-image: url("images/page-center/baoliao/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif")

}

.page-block3-sec2-param17{
	background-image: url("images/page-center/baoliao/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif")

}

.page-block3-sec2-param18{
	background-image: url("images/page-center/baoliao/sec4/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_14.gif")

}

.page-block3-sec2-param19{
	background-image: url("images/page-center/baoliao/sec5/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif")

}

.page-block3-sec2-param20{
	background-image: url("images/page-center/baoliao/sec5/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif")

}

.page-block3-sec2-param21{
	background-image: url("images/page-center/baoliao/sec6/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}

.page-block3-sec2-param22{
	background-image: url("images/page-center/baoliao/sec6/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
}

.page-block3-sec2-param23{
	background-image: url("images/page-center/baoliao/sec6/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");
}

.page-block3-sec2-param24{
	background-image: url("images/page-center/baoliao/sec6/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");
}

.page-block3-sec2-param25{
	background-image: url("images/page-center/baoliao/sec6/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_14.gif");
}

.page-block3-sec2-param26{
	background-image: url("images/page-center/baoliao/sec7/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
}

.page-block3-sec2-param27{
	background-image: url("images/page-center/baoliao/sec7/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
}

.page-block3-sec2-param28{
	background-image: url("images/page-center/baoliao/sec7/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");
}

.page-block3-sec2-param29{
	background-image: url("images/page-center/baoliao/sec7/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");
}

.page-block3-sec2-param30{
	background-image: url("images/page-center/baoliao/sec7/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");
}

.page-block3-sec2-param31{
	background-image: url("images/page-center/baoliao/sec8/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}

.page-block3-sec2-param32{
	background-image: url("images/page-center/baoliao/sec8/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}

.page-block3-sec2-param33{
	background-image: url("images/page-center/baoliao/sec9/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}

.page-block3-sec2-param34{
	background-image: url("images/page-center/baoliao/sec9/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}

.page-block3-sec2-param35{
	background-image: url("images/page-center/baoliao/sec10/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param36{
	background-image: url("images/page-center/baoliao/sec10/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param37{
	background-image: url("images/page-center/baoliao/sec10/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");

}
.page-block3-sec2-param38{
	background-image: url("images/page-center/baoliao/sec10/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_14.gif");

}
.page-block3-sec2-param39{
	background-image: url("images/page-center/baoliao/sec10/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_16.gif");

}
.page-block3-sec2-param40{
	background-image: url("images/page-center/baoliao/sec11/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param41{
	background-image: url("images/page-center/baoliao/sec11/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param42{
	background-image: url("images/page-center/baoliao/sec11/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");

}
.page-block3-sec2-param43{
	background-image: url("images/page-center/baoliao/sec11/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}
.page-block3-sec2-param44{
	background-image: url("images/page-center/baoliao/sec11/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");

}
.page-block3-sec2-param45{
	background-image: url("images/page-center/baoliao/sec12/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param46{
	background-image: url("images/page-center/baoliao/sec12/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param47{
	background-image: url("images/page-center/baoliao/sec12/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");

}
.page-block3-sec2-param48{
	background-image: url("images/page-center/baoliao/sec12/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}
.page-block3-sec2-param49{
	background-image: url("images/page-center/baoliao/sec12/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");

}
.page-block3-sec2-param50{
	background-image: url("images/page-center/baoliao/sec13/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param51{
	background-image: url("images/page-center/baoliao/sec13/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param52{
	background-image: url("images/page-center/baoliao/sec13/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");

}
.page-block3-sec2-param53{
	background-image: url("images/page-center/baoliao/sec13/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}
.page-block3-sec2-param54{
	background-image: url("images/page-center/baoliao/sec13/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");

}
.page-block3-sec2-param55{
	background-image: url("images/page-center/baoliao/sec14/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param56{
	background-image: url("images/page-center/baoliao/sec14/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param57{
	background-image: url("images/page-center/baoliao/sec15/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param58{
	background-image: url("images/page-center/baoliao/sec15/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_11.gif");

}
.page-block3-sec2-param59{
	background-image: url("images/page-center/baoliao/sec15/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}
.page-block3-sec2-param60{
	background-image: url("images/page-center/baoliao/sec15/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_17.gif");

}
.page-block3-sec2-param61{
	background-image: url("images/page-center/baoliao/sec15/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_19.gif");

}
.page-block3-sec2-param62{
	background-image: url("images/page-center/baoliao/sec16/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param63{
	background-image: url("images/page-center/baoliao/sec16/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param64{
	background-image: url("images/page-center/baoliao/sec16/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");

}
.page-block3-sec2-param65{
	background-image: url("images/page-center/baoliao/sec16/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}
.page-block3-sec2-param66{
	background-image: url("images/page-center/baoliao/sec16/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");

}
.page-block3-sec2-param67{
	background-image: url("images/page-center/baoliao/sec17/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param68{
	background-image: url("images/page-center/baoliao/sec17/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}
.page-block3-sec2-param69{
	background-image: url("images/page-center/baoliao/sec17/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_09.gif");

}
.page-block3-sec2-param70{
	background-image: url("images/page-center/baoliao/sec17/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_13.gif");

}
.page-block3-sec2-param71{
	background-image: url("images/page-center/baoliao/sec17/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_15.gif");

}
.page-block3-sec2-param72{
	background-image: url("images/page-center/baoliao/sec18/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");

}
.page-block3-sec2-param73{
	background-image: url("images/page-center/baoliao/sec18/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");

}

.page-block3-left-section6-left{
	width : 160px;
	height : 100%;
	background-image: url("images/page-center/shihui/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_03.gif");
	background-repeat: no-repeat;
}

.page-block3-left-section6-right{
	width : 116px;
	height : 100%;
	background-image: url("images/page-center/shihui/FireShot-Capture-4---淘宝网---淘！我喜欢---https___www.taobao_07.gif");
	background-repeat: no-repeat;
	background-position: 0px 50px;
}


/* #################################实惠专区############################### */
.page-block3-left-section6-left-text1{
	margin-top : 45px;
	margin-left: 15px;
}

.page-block3-left-section6-left-text2{
	color : #DD3B3B;
	margin-top: 25px;
	margin-left: 15px;
}

.page-block3-left-section6-left-text3{
	margin-top : 0px;
	margin-left: 15px;
}

.page-block3-left-section6-right-text1{
	margin : 15px 0px 0px 25px;
	color : #EA8989;
}

.page-block3-left-section5-inner{
	margin : 0px 10px;
	width : 180px;
	height : 100%;
	background-image: url("images/page-center/shihui/image5.gif");
	background-repeat: no-repeat;
	background-position: 90px 66px;
}

.page-block3-left-section5-inner > i{
	width : 120px;
	height : 34px;
	margin-bottom: 11px;
	background-image: url("images/page-center/shihui/image6.gif");
}

.page-block3-left-section5-inner-a{
	width : 62px;
	height : 17px;
	margin-top : 15px;
	border : 2px solid #FF5A1E;
	border-radius: 7px;
	text-align: center;
	padding-top: 2px;
	color : #FF5A1E;
}

.image-change1{
	background-image: url("images/page-center/shihui/image10.gif");
}

.image-change1 > i{
	background-image: url("images/page-center/shihui/image7.gif");
}

.image-change2{
	background-image: url("images/page-center/shihui/image9.gif");
}

.image-change2 > i{
	background-image: url("images/page-center/shihui/image8.gif");
}

.image-change3{
	background-image: url("images/page-center/shihui/image13.gif");
	background-position: 90px 44px;
}

.image-change3 > i{
	background-image: url("images/page-center/shihui/image11.gif");
	width : 130px;
}

.image-change4{
	background-image: url("images/page-center/shihui/image14.gif");
	background-position: 90px 44px;
}

.image-change4 > i{
	background-image: url("images/page-center/shihui/image12.gif");
}

.tem1 > p,
.tem1 > a{
	margin-left : 15px;
}

.tem1{
	background-image: url("images/page-center/shihui/image2.gif");
	background-repeat: no-repeat;
	background-position: 165px 54px;
}

.tem1 > i{
	width : 115px;
	height : 36px;
	background-image: url("images/page-center/shihui/image1.gif");
}

.tem1 > a{
	width : 68px;
	height : 15px;
	margin-top : 22px;
	border : 2px solid #FF5A1E;
	border-radius: 8px;
	text-align: center;
	padding-top: 3px;
	color : #FF5A1E;
}

.page-block3-left-section7{
	background-image: url("images/page-center/shihui/image15.png");
}

.page-block3-right-section1 > i{
	width : 80px;
	height : 110px;
	background-image: url("images/page-center/celan/image1.png");
}

.page-block3-right-section1 > a{
	margin-left: 245px;
	margin-bottom: 15px;
	margin-top : 10px;
}

.page-block3-right-section1 > p{
	margin-left : 85px;
}

.page-block3-right-section2 > em{
	background-image: url("images/page-center/celan/image2.png");
	width : 180px;
	height : 47px;
}

.page-block3-right-section2 > i{
	width : 114px;
	height : 1129px;
	background-image : url("images/page-center/celan/image4.png");
	margin : 0px 0px 0px 0px;
}

.page-block3-right-section2 > p{
	margin-left : 114px;
	line-height : 18px;

}

#temp40{
	margin-top : 6px;
}

.page-block3-right-section2 > .temp40{
	margin-top : 23px;
}

#temp41{
	margin-top : 13px;
}

.page-block3-right-section2 > h1{
	width : 18px;
	height : 18px;
	background-image: url("images/page-center/celan/image5.png");
	margin : 15px 0px 0px 98px;
}

.page-block3-right-section2 > h2{
	margin : 17px 0px 0px 5px;
}


/* 侧栏第二部分 */
.page-block3-right-section3-header{
	width : 100%;
	height : 40px;
	background-color: white;
}

.page-block3-right-section3-blocks{
	width : 100%;
	height : 238px;
	margin :  0px 0px 1px 0px;
}

.page-block3-right-section3-blocks-left{
	width : 88px ;
	height : 182px;
}

.page-block3-right-section3-blocks-right{
	height : 180px;
	width : 180px;
}
.page-block3-right-section3-footer{
	width : 100%;
	height : 40px;
}

.page-block3-right-section3-blocks > p{
	line-height : 20px;
}


.page-block3-right-section3-blocks > p,
.page-block3-right-section3-blocks > img{
	float : left;
}

.page-block3-right-section3-blocks > p,
.page-block3-right-section3-blocks-left{
	margin-left : 10px;
}

.page-block3-right-section3-footer > img{
	margin-left: 86px;
	margin-top : 13px;
}

.page-block3-right-section4 > p{
	margin : 10px;
}

/* 热卖单品 */
/* 1175 630 */

.page-block4-inner{
	width : 1171px;
	height : 626px;
	border : 2px solid #EAEAEA;
	background-color: #E8E8E8;
	margin : 0 auto;
}

/* 79 1 392 1 152 + 上下border 2x2 */

.page-block4-header{
	width : 100%;
	height : 79px;
	background-color: white;
}

.page-block4-center{
	width : 100%;
	height : 392px;
	background-color: #E8E8E8;
}

.page-block4-footer{
	width : 100%;
	height : 152px;
}

.page-block4-header-1{
	width : 100%;
	height : 47px;
}

.page-block4-header-1 > img{
	margin : 0 auto;
}

.page-block4-header-2{
	width : 100%;
	height : 32px;
	margin-top : 8px;
}

.page-block4-header-2 >a {
	font-size: 12px;
	padding : 0px 9px;
	border-right : 1px solid #E9E9E9;
	float : left;
}

.page-block4-center > div{
	margin :  0px 1px 0px 0px;
}
/* 230 158 */
.page-block4-center-big{
	float : left;
	width : 230px;
	height : 100%;
	background-color: white;
}

.page-block4-center-small{
	float : left;
	width : 158px;
	height : 100%;
	background-color: white;
}

.debug1{
	width : 159px;
}

.page-block4-center-big > img{
	margin : 8px;
}

.page-block4-center-big > p,
.page-block4-center-big > a{
	margin-left : 8px;
}

.page-block4-center-big > p{
	line-height : 20px;
}

.page-block4-center-big > a{
	margin-top : 25px;
}

.page-block4-center-small-1{
	width : 100%;
	height : 195px;
	border-bottom: 2px solid #E4E4E4;
}

.page-block4-center-small-2{
	width : 100%;
	height : 195px;
}



.page-block4-center-small-1 > img,
.page-block4-center-small-2 > img{
	margin : 10px;
}

.page-block4-center-small-1 > p,
.page-block4-center-small-2 > p {
	margin : 0px 0px 0px 10px;
	line-height : 15px;
}

/* 389 1 + 390x1 */
.page-block4-footer-blocks{
	float : left;
	width : 389px;
	height : 100%;
	margin : 0px 1px 0px 0px;
}

.page-block4-footer-blocks > img{
	margin : 10px 0px 0px 9px;
}

.page-block6-inner{
	width : 1175px;
	height : 100%;
	margin : auto;
	background-color : white;
}

.page-block6-header{
	width : 100%;
	height : 50px;
}

/* 327 1 327 */
/* 587 1 587 */
.page-block6-header > img{
	margin : auto;
}

.page-block6-blocks{
	width : 587px;
	height : 327px;
}

.page-block6-blocks > p,
.page-block6-blocks > img{
	margin-left : 20px;
}

.page-block6-blocks > p{
	line-height: 30px;
}
 
/* 1175 100% */
/* 猜你喜欢 */
.page-block7-inner{
	width : 1175px;
	height : 100%;
	background-color : white;
	margin : auto;
}

.page-block7-header{
	width : 100%;
	height : 60px;
}

.page-block7-header > img{
	width : 252px;
	height : 100%;
	margin : auto;
}

/* 220 300 */
.page-block7-blocks{
	width : 100%;
	height : 300px;
	margin : 15px 0px;
}

.page-block7-blocks-1{
	width : 220px;
	height : 300px;
	margin : 0px 4px;
	background-color : #F5F5F5;
	float : left;
}

.page-block7-blocks-1 > p{
	line-height : 18px;
	margin-left : 10px;
}

.page-block7-blocks-1 > p >span{
	margin-left : 110px;
}

#special{
	margin-left : 80px;
}

#special1{
	margin-left : 0px;
}

.page-block7-footer{
	width : 100%;
	height: 45px;
}

.page-block7-footer > img{
	margin : auto;
}


/* 220 90 */
/* 用户保障什么的 */
.page-block8 > div{
	width : 220px;
	height : 90px;
	margin-top : 40px;
	float : left;
}

.page-block8-1{
	margin-left : 65px;

}

.page-block8-2{
	margin-left : 90px;
}

.page-block8-3{
	margin-left: 120px;
}

.page-block8-4{
	margin-left: 80px;
}

.page-block8 > div > a{
	margin : 5px 7px;
	color : #B6B6B6;
}

.page-block8 > div > p{
	margin : 10px 14px;
}

/* 1180 70 */
.page-block9-1{
	width : 1180px;
	height : 70px;
	margin : auto;
	border-bottom: 2px solid #E3E3E3;
}

.page-block9-2{
	width : 1180px;
	height : 80px;
	margin : auto;
}

.page-block9-3{
	width : 1180px;
	height : 90px;
	margin : auto;
}

.page-block9-1 > a{
	font-size: 11px;
	color : #A3ABB3;
	margin-top : 15px;
	padding-right : 9px;
	padding-left : 9px;
	border-right : 1px solid #E6E6E8;
	float : left;
}

.page-block9-2 > a{
	font-size : 11px;
	color : #A3ABB3;
	margin-top : 10px;
	float : left;
	padding : 0px 4px;
}

.page-block9-2 > p{
	font-size : 11px;
	color : #A3ABB3;
	margin-top : 10px;
	float : left;
	padding : 0px 8px;
	border-right : 1px solid #E7E6E7;
}

#specail2{
	border-right : 0px;
	padding-left : 35px;
	border-left : 1px solid #E7E6E7;
}

#specal3{
	padding-left: 4px;
}

.page-block9-2 > img{
	margin-top : 5px;
	margin-left: 5px;
}

.page-block9-3 > img{
	float : left;
	margin : 10px 7px;
}

#special3{
	margin-top : 0px;
}


/* #########################################特效追加################################## */
.location{
	width : 268px;
	height : 288px;
	overflow-y : scroll;
	overflow-x : hidden;
}

.location > ul{
	width : 100%;
	height : 100%;
	border : 1px solid #EEEEEE;

}

.location > ul > li{
	width : 100%;
	height : 29px;
	background-color : white;
	text-align : left;
	text-indent : 1em;
	cursor: pointer;
}

.location > ul > li:hover{
	background-color : #F4F4F4;
}

.left1:hover > .location{
	display : block;
}

.left1:hover{
	background-color: white;
}

.left1:hover > span{
	width : 78px;
	height :10px;
	margin-top : 30px;
	margin-left : -68px;
	background-color: white;
}

.user{
	width : 84px;
	height : 74px;
}
.user > ul{
	border : 1px solid #EEEEEE;
	width : 84px;
	height : 74px;
}

.user > ul > li{
	text-align : left;
	text-indent : 0.5em;
	background-color: white;
	color: #969696;
}

.user > span{
	width : 84px;
	height : 1px;
	background-color : white;
	margin-left : -42px;
}

.right1:hover > .user,
.right3:hover > .user,
.right6:hover > .user{
	display : block;
}

.right1:hover,
.right3:hover,
.right6:hover{
	background-color : white;
}

.pink-hover:hover{
	background-color : #F9E6E6;
}

.no-hover:hover{
	color : white;
}

.search-wrap-middle > i {
	width : 22px;
	height : 18px;
	top : 10px;
	right : 120px;
	background-image: url("images/texiao/image1.png");
	background-repeat : no-repeat;
}

.search-wrap-middle > i:hover{
	background-image: url("images/texiao/image2.png");
}

.heikeji{
	width : 80px;
	height : 28px;
	top : 3px;
	right : 140px;
	background-image : url("images/texiao/image3.gif");
}