.font-10{
	font-size : 10px;
}

.font-11{
	font-size : 11px;
}

.font-12{
	font-size : 12px;
}

.font-13{
	font-size : 13px;
}

.font-14{
	font-size : 14px;
}

.font-15{
	font-size : 15px;
}

.font-16{
	font-size : 16px;
}

.font-17{
	font-size : 17px;
}

.font-18{
	font-size : 18px;
}

.font-19{
	font-size : 19px;
}

.font-20{
	font-size : 20px;
}

.font-21{
	font-size : 21px;
}

.font-22{
	font-size : 22px;
}

.font-23{
	font-size : 23px;
}

.font-24{
	font-size : 24px;
}

.font-25{
	font-size : 25px;
}

.float-left{
	float : left;
}

.float-right{
	float : right;
}

.clear-both{
	clear : both;
}

.list-style-none{
	list-style-type : none;
}

.font-weight-400{
	font-weight: 400;
}

.font-weight-400{
	font-weight: 400;
}

.font-weight-500{
	font-weight: 500;
}

.font-weight-600{
	font-weight: 600;
}

.font-weight-700{
	font-weight: 700;
}

.font-weight-800{
	font-weight: 800;
}

.red{
	background-color : red;
}

.blue{
	background-color: blue;
}

.white{
	background-color: white;
}

.yellow{
	background-color : yellow;
}

.green{
	background-color : green;
}


.purple{
	background-color: purple;
}

.grey{
	background-color : grey;
}

.yellow-green{
	background-color : yellowgreen;
}

.relative{
	position : relative;
}

.absolute{
	position : absolute;
}

.fixed{
	position : fixed;
}

.block{
	display : block;
}

.display-inline-block{
	display : inline-block;
}

.display-inline{
	display : inline;
}

.text-align-center{
	text-align : center;
}

.display-none{
	display : none;
}

.background-no-repeaet{
	background-repeat : no-repeat;
}

.overflow-hidden{
	overflow : hidden;
}

.color-white{
	color : white;
}

.margin-left-0{
	margin-left : 0px !important;
}

.margin-both-2{
	margin-right : 2px;
	margin-left : 2px;
}

.border-0{
	border : 0px;
	outline : 0px;
}

.margin-right-10{
	margin-right : 10px;
}

.margin-left-10{
	margin-left : 10px;
}

.margin-top-10{
	margin-top : 10px;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

/* 回头加点margin系列的，很有用 */

.margin-right-1{
	margin-right : 1px;
}

.margin-left-1{
	margin-left : 1px;
}

.margin-top-1{
	margin-top : 1px;
}

.margin-bottom-1{
	margin-bottom : 1px;
}

.margin-right-2{
	margin-right : 2px;
}

.margin-left-2{
	margin-left : 2px;
}

.margin-top-2{
	margin-top : 2px;
}

.margin-bottom-2{
	margin-bottom : 2px;
}

.color-grey{
	color : #CFCFCF;
}

.margin-right-5{
	margin-right : 5px;
}

.margin-left-5{
	margin-left : 5px;
}

.margin-top-5{
	margin-top : 5px;
}

.margin-bottom-5{
	margin-bottom : 5px;
}

/* 优先度设置 */
.z-index-high{
	z-index : 100;
}

.z-index-normal{
	z-index : 50;
}

.z-index-low{
	z-index : 10;
}

.overflow-hidden{
	overflow: hidden;
}

.text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
}